﻿
{% extends "csc_new/base.html" %}
{% load static %}

{% block head %}
<title>About - RIT Computer Science Community</title>
<script type="text/javascript" src="{% static 'js/about.js'%}"></script>
{% endblock %}

{% block desc %}
Who we are and what we're all about.
{% endblock %}

{% block content %}

<div class="space"></div>

<div class="our_mission">
	<h2>Our Mission</h2>
	<p>
		The purpose of the CSC is
		to foster a community for RIT’s computing students
		and provide them with the resources and skills necessary to succeed,
		both academically and professionally.
	</p>
	<p>
		For more details, please see <a href="https://github.com/rit-csc/constitution/blob/master/constitution.md">our constitution</a>.
	</p>
	<p>
		Below, you can find the name, bio, and contact email for each of our current executive board members. <!-- Want to contact the entire e-board? Message us at <i><a href="mailto:officers@csc.cs.rit.edu">officers@csc.cs.rit.edu</a></i>. -->
	</p>
</div>

<div class="position_quicklinks">
    <div class="label">
        The Crew:
    </div>
    <a href="#president">
        President
    </a>
    <a href="#vp">
        Vice President
    </a>
    <a href="#sysadmin">
        Systems Administrator
    </a>
    <a href="#treasurer">
        Treasurer
    </a>
    <a href="#secretary">
        Secretary
    </a>
    <a href="#pr">
        Public Relations
    </a>
    <a href="#alumni">
        Alumni Relations
    </a>
    <a href="#ec">
        Events Coordinator
    </a>
</div>
<div class="position_anchors">
    <span>
        <a name="president"></a>
    </span>
</div>
<div class="bio lr_alt">
	<div>
		<h2>Chris Sprague</h2>
		<p><i>President</i> - <a href="mailto:president@csc.cs.rit.edu">president@csc.cs.rit.edu</a></p>
		<p>
			I'm a third-year Computer Science and Economics major. I have been a part of the CSC since my first year at RIT, and I served as Public Relations head until I became President this semester. As President, I intend to improve inter-organization relationships throughout GCCIS as well as promote a more organized and outward-facing CSC. In other news, I'm a big anime nut, a reformed gamer, and a fan of tennis / dodgeball / volleyball.
		</p>
	</div>
	<div>
		<img src="{% static 'imgs/officer_pictures/ChrisSprague.jpg' %}">
	</div>
</div>
<div class="position_anchors">
    <span>
        <a name="vp"></a><a name="sysadmin"></a>
    </span>
</div>
<div class="bio lr_alt">
	<div>
		<h2>Dakota Williams</h2>
		<p><i>Vice President, Systems Administrator</i> - <a href="mailto:admin@csc.cs.rit.edu">admin@csc.cs.rit.edu</a></p>
		<p>
			I'm a second year Computer Science student who loves gaming, chess, and the CSC!
		</p>
	</div>
	<div>
		<img src="{% static 'imgs/officer_pictures/DakotaWilliams.jpg' %}">
	</div>
</div>
<div class="position_anchors">
    <span>
        <a name="treasurer"></a>
    </span>
</div>
<div class="bio lr_alt">
	<div>
		<h2>Zack Zatkin-Gold</h2>
		<p><i>Treasurer</i> - <a href="mailto:treasurer@csc.cs.rit.edu">treasurer@csc.cs.rit.edu</a></p>
		<p>
            I'm a fifth year Computer Science student who enjoys rock climbing, running, traveling, and photography.
		</p>
	</div>
	<div>
		<img src="{% static 'imgs/officer_pictures/ZackZatkinGold.jpg' %}">
	</div>
</div>
<div class="position_anchors">
    <span>
        <a name="alumni"></a>
    </span>
</div>
<div class="bio lr_alt">
	<div>
		<h2>Gavin Nishizawa</h2>
		<p><i>Alumni Relations Officer</i> - <a href="mailto:alumnirelations@csc.cs.rit.edu">alumnirelations@csc.cs.rit.edu</a></p>
		<p>
			I'm a second year Software Engineering major interested in puzzles, games, data structures and cool algorithms!
		</p>
	</div>
	<div>
		<img src="{% static 'imgs/officer_pictures/GavinNishizawa.jpg' %}">
	</div>
</div>
<div class="position_anchors">
    <span>
        <a name="ec"></a>
    </span>
</div>
<div class="bio lr_alt">
	<div>
		<h2>Timothy Fairman</h2>
		<p><i>Events Coordinator</i> - <a href="mailto:events@csc.cs.rit.edu">events@csc.cs.rit.edu</a></p>
		<p>
			I'm a first year Computer Science major.  On campus I play Trumpet for the RIT pep band and go to Aikido club.  I'm interested in German, game design, Star Trek, Esports, and general nerdy culture.
		</p>
	</div>
	<div>
		<img src="{% static 'imgs/officer_pictures/TimothyFairman.jpg' %}">
	</div>
</div>

{% endblock %}
