/* site-wide defaults */

body {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-family:verdana,serif;
}

div.space {
	padding:15px;
}

a {
	text-decoration: none;
	color: blue;
}
a:hover {
	text-decoration: underline;
	color: orange;
}

h3{
	text-decoration: underline;
}

.lr_alt > :nth-child(even) {
	float: right;
}
.lr_alt > :nth-child(odd) {
	float: left;
}


/* ----------------- FOR ABOUT.HTML ----------------- */
.bio {
	padding: 15px;
	margin-bottom: 25px;
	background-color: #E6E6E6;
	clear: both;
	overflow: hidden;
}

/* div containing bio text */
.bio > div:nth-of-type(1) {
	max-width: 850px;
	text-align: justify;
}

/* div containing bio image */
.bio > div:nth-of-type(2) {
	width:100px;
}
.bio img {
	max-width:100px;
	max-height:100px;
	margin-top: 50%;
}
.our_mission {
	padding: 1px 15px 5px;
	margin: 0px auto 30px;
	text-align: center;
	max-width: 55%;
	background-color: #ECF6FF;
}
p.footnote {
	vertical-align: super;
	font-size: 75%;
	font-style: oblique;
}
.position_quicklinks{
    text-align: center;
    margin-bottom: 20px;
}
.position_quicklinks a, .label{
    font-size: 75%;
    display: inline-block;
    margin-left: 7.5px;
    margin-right:7.5px;
}
.position_quicklinks a{
    font-style: italic;
}
.position_quicklinks a.nobio{
    cursor: default;
    font-style: normal;
    text-decoration: none;
    color: gray;
}
.position_anchors{
    position: relative;
    top:-30px;
}
.position_anchors a{
    display: inline;
}


/* ----------------- FOR RESOURCES.HTML ----------------- */

.exam {
	height: 1.3em;
	text-align: middle;
	margin-bottom: 10px;
}

/* the exam title */
.exam > div.title {
	width: 25%;
}

/* contains links to questions and answers files */
.exam > div.files {
	width:75%;
}

/* contains either a link to the questions OR a link to the answers */
.exam > div.files > div {
	max-width:50%;
	display: inline;
}

/* contains info about last-modified date */
.exam > div.files > div:last-of-type {
	font-style: italic;
	margin-left: 1in;
}

.slides > span {
    margin-right: 20px;
}

.slides:not(:last-child) {
    margin-bottom: 10px;
}


/* ----------------- FOR PICTURES.HTML ----------------- */
.pictable {
	display: block;
	max-width:1000px;
	table-layout: fixed;
}

.pictable tbody, tr {
	display: block;
	width: 100%;
}

.pictable td {
	vertical-align: top;
	text-align: center;
	width: 50%;
}

.pictable img {
	display: block;
	width: 100%;
}

.pictable p {
	max-width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

/* ----------------- FOR PROJECTS.HTML ----------------- */
.github_repo {
	text-decoration: none;
	padding:15px;
	margin-top:15px;
	background-color: #E6E6E6;
}

/* div containing repo title/link and language stats */
.github_repo > div:first-of-type {
	padding-bottom: 15px;
}

.github_repo > div {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* repo title and link */
.github_repo > div > div.title {
	width:70%;
	font-weight: bold;
}

/* repo language stats */
.github_repo > div > div.language {
	text-align: right;
	width:30%;
}

/* div containing repo description */
.github_repo > div.description {
	font-style: italic;
}



/* ----------------- FOR ...? ----------------- */
#design_host {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}



/* ----------------- FOR ..? ----------------- */
#csc-content {
	position: relative;
	width: 300px;
	height: 300px;
	background-color: rgb(255, 255, 255);
	border-radius: 2px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.098), 0px 0px 3px rgba(0, 0, 0, 0.098);
}



/* ----------- FOR ALL PAGES (BASE.HTML) ----------------- */
.page_summary_bar {
	background-color:#bbbb00;
	padding:5px;
}



/* ----------------- FOR INDEX.HTML ----------------- */
.events_container {
	width:600px;
	padding-bottom: 15px;
}
.event {
	background-color: #E6E6E6;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-bottom: 10px;
}
.event_detail_descriptor {
    width:125px;
}
.social_media_container {
	width:370px;
	padding-left:30px;
	z-index: -1;
}

/* ----------------- FOR THE FOOTER ----------------- */
.footer p {
	display: inline;
}

/* ----------------- FOR 404.html -----------------*/
img.transparent {
    opacity: 0.2;
    max-height: 100%;
    max-width: 100%;
}

